
/* Generals */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
  background-color: #F7F6F3;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: lighter;
}

.container {
  padding: 5px;
  width: 80%;
  margin: 0 auto;
}

.card {
  background-color: #F5F5F5;
  text-align: center;
  padding: 40px;
  width: 80%;
  margin: 20px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.presentation {
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/light.png');
}

.away {
  background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('images/landscape.jpeg');
}

a {
  display: inline-block;
}

.btn-blue {
  background-color: #2274A5;
  color:white;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.btn-blue:hover {
  background-color: #FBAC0E;
}

.btn {
  background-color: #2274A5;
  color:white;
  font-weight: 300;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 50px;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #FBAC0E;
}

/* Specific */
h1, h2, h3 {
  font-family: 'Poppins';
  color: #113C55;
  font-size: 30px;
  font-weight: 800;
}


li {
  margin: 5px;
  padding: 5px 5px;
}

.img-circle {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin 5px;
}

span {
  text-decoration: underline;
  font-weight: bolder;
  transition: 0.5s;
}
span:hover {
  background: #FBAC0E;
}

.title-pres {
  background-color: rgba(240, 240, 240, 0.3);
  margin: 0 auto;
  margin-bottom: 20px;
  width: fit-content;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
  padding-left: 0px;
}
